@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*font-family: 'Lato', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, rgb(98, 110, 212), rgb(118, 59, 126));
    overflow-x: hidden;
}


#menu-h{
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, #000, rgb(55, 28, 117));
    position: relative;
}

.nav{
    margin: 0 auto;
    width: 1400px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;    
}

.lista{
    list-style: none;
    display: flex;
}

.lista li+li{
    margin-left: 20px;
    
}

.lista li a{
    color:#fff;
    padding: 0 20px;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    transition: .6s all;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.lista li a:hover{
    background-color:rgb(11, 70, 126);
    
}

.titulo{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

/*conteúdo*/
.container{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.conteudo{
    margin: 0 auto;
    width: 1400px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.texto{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto h3{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

.texto p{
    font-size: 20px;
}

/*imagem*/
.img{
    width: 48%;
    align-content: center;
    position: relative;
}

.img img{
    width: 672px;
    /* height: 500px; */
}

/*rodapé*/
.footer{
    width: 100%;
    height: 330px;
    background: linear-gradient(180deg, rgb(55, 28, 117), black);
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff; 
}

/* botão */
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    z-index: 999;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }